@model PagedList.IPagedList<Forum.Models.AspNetUsers>
@using PagedList.Mvc;

<h1>Konta</h1>
<table class="table">
    <tr id="CPActionResult">
        @if (TempData["OperationTarget"] == "Account")
        {
            @TempData["OperationResult"]
        }
        else
        {
            <text>&nbsp</text>
        }
    </tr>
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().UserName).ToHtmlString(), "Index", new { acp = Request.QueryString.Get("acp"), acs = 1, sep = Request.QueryString.Get("sep"), ses = Request.QueryString.Get("ses") })

        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Email).ToHtmlString(), "Index", new { acp = Request.QueryString.Get("acp"), acs = 2, sep = Request.QueryString.Get("sep"), ses = Request.QueryString.Get("ses") })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Group).ToHtmlString(), "Index", new { acp = Request.QueryString.Get("acp"), acs = 3, sep = Request.QueryString.Get("sep"), ses = Request.QueryString.Get("ses") })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().creationDate).ToHtmlString(), "Index", new { acp = Request.QueryString.Get("acp"), acs = 4, sep = Request.QueryString.Get("sep"), ses = Request.QueryString.Get("ses") })
        </th>
        <th></th>
    </tr>

    @foreach (var account in Model)
    {
        <tr>
            @Html.Partial("_AccountEditor", account)
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, acp => Url.Action("Index",
    new { acp, acs= Request.QueryString.Get("acs"), sep = Request.QueryString.Get("sep"), ses = Request.QueryString.Get("ses") }))