@model Forum.Models.AspNetUsers


@using (Html.BeginForm("AccountEdit", "ControlPanel"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <td>
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.Group, new SelectList(ViewBag.groups, "idGroup", "name", Model.Group), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Group, "", new { @class = "text-danger" })
    </td>

    <td>
        @Html.HiddenFor(model => model.creationDate)
        @Html.DisplayTextFor(model => model.creationDate)
    </td>
    <td>
        <input type="submit" value="Zapisz" class="btn btn-default" />
    </td>
}

@if (ViewBag.ObjectId == Model.Id && ViewBag.OperationName == "Account Edit")
{
    <td class="RowMessage">@ViewBag.OperationMessage</td>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
