
@model PagedList.IPagedList<Forum.Models.Section>
@using PagedList.Mvc;

<h1>Sections</h1>
<table class="table">
    <tr id="CPActionResult">
        @if (TempData["OperationTarget"] == "Section")
        {
            @TempData["OperationResult"]
        }
        else
        {
            <text>&nbsp</text>
        }
    </tr>
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().name).ToHtmlString(), "Index", new { acp = Request.QueryString.Get("acp"), acs = Request.QueryString.Get("acs"), sep = Request.QueryString.Get("sep"), ses = 1 })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().readGroupFk).ToHtmlString(), "Index", new { acp = Request.QueryString.Get("acp"), acs = Request.QueryString.Get("acs"), sep = Request.QueryString.Get("sep"), ses = 2 })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().writeGroupFk).ToHtmlString(), "Index", new { acp = Request.QueryString.Get("acp"), acs = Request.QueryString.Get("acs"), sep = Request.QueryString.Get("sep"), ses = 3 })
        </th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        @Html.Action("_SectionCreate")
    </tr>

    @foreach (var section in Model)
    {
        <tr>
            @Html.Partial("_SectionEditor", section)
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, sep => Url.Action("Index",
    new { acp = Request.QueryString.Get("acp"), acs = Request.QueryString.Get("acs"), sep, ses = Request.QueryString.Get("ses") }))