@model Forum.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Weryfikuj";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.Hidden("provider", @Model.Provider)
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <h4>Wprowadź kod weryfikacyjny</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <table style="width:100%" >
                <tr>
                    <td>@Html.LabelFor(m => m.RememberBrowser))</td>
                    <td>  </td>
                    <td>  @Html.CheckBoxFor(m => m.RememberBrowser))</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-1 col-md-1">
            <div class="col-sm-1 col-sm-offset-1 col-md-1 col-md-offset-0 "></div>
        </div>
        <div class="col-md-offset-2 col-md-1">
            <input type="submit" class="btn btn-default" value="Prześlij" />
            <div class="col-sm-1 col-sm-offset-1 col-md-1 col-md-offset-0 "></div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
