@model AiBforum2.Models.Account


@using (Html.BeginForm("AccountEdit", "ControlPanel"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.idAccount)

    <td>
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.PasswordFor(model => model.pass, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.groupFK, new SelectList(ViewBag.groups, "idGroup", "name", Model.groupFK), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.groupFK, "", new { @class = "text-danger" })
    </td>

    <td>
        @Html.HiddenFor(model => model.creationDate)
        @Html.DisplayTextFor(model => model.creationDate)
    </td>
    <td>
        <input type="submit" value="Save" class="btn btn-default" />
    </td>
}

@if (ViewBag.ObjectId == Model.idAccount && ViewBag.OperationName == "Account Edit")
{
    <td class="RowMessage">@ViewBag.OperationMessage</td>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
