@model AiBforum2.Models.Section

@using (Html.BeginForm("SectionCreate", "ControlPanel"))
{
    @Html.AntiForgeryToken()

    <td>
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.readGroupFk, new SelectList(ViewBag.groups, "idGroup", "name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.readGroupFk, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.writeGroupFk, new SelectList(ViewBag.groups, "idGroup", "name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.writeGroupFk, "", new { @class = "text-danger" })
    </td>
    <td />

    <td>
        <input type="submit" value="Create" class="btn btn-default" />
    </td>
}

